.game-grid {
  display: flex;
  flex-direction: column;
  font-size: 0;
  line-height: 0;

  .game-grid-row {
    display: flex;

    .game-grid-cell {
      position: relative;
      width: 16px;
      height: 16px;
    }

    // Grid base.
    .game-grid-base {
      position: absolute;
      z-index: 0;
    }

    // Grid overlays.
    .game-grid-overlay {
      position: absolute;
      z-index: 10;
    }

    // Grid decorations.
    .game-grid-decoration {
      position: absolute;
      z-index: 20;
    }
  }
}